<a href="https://colab.research.google.com/github/zismailjee/notebooks-contrib/blob/0.12-cugraph-benchmarks/Galvanize_Datathon_Beginner_Track_Workhseet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Do this first! Welcome to Google Colab

Colab is essentially Google's way of hosting a jupyter notebook. A very popular tool to use as a data scientist!

It allows us to write code, documentation, and output visuals all in one place.

# **To be able to and edit the code in this workshop. Please make a copy for yourself**

# **file > save a copy in drive**

This should open a new tab with your own copy of this notebook. It can take a minute to load.

Colab also gives you some options for running complicated computations such as training deep learning model. To see access those options:

Runtime > change runtime type Select GPU, TPU, or None

We don't need to change anything for this workshop, but its a great resource if you start learning deep learning and don't have a powerful GPU at home.

This is a text cell.

You can add a new text cell by clicking + Text above.

It does not highlight wrong spelling. I apologize for any typos!

# Instructions and Important Information

Welcome to the Galvanize Datathon Beginner Track. If you are here, you are beginning your journey to becoming a data scientist and Python coder. This event is designed to accelerate your development by rapidly introducing you to learning materials with Python that you will need to thrive in the Data Science Immersive at Galvanize. 

The topics that will be covered during this week in this Beginner Track can be found below. In addition to holding lectures on these subjects, Galvanize will provide you with a __ question worksheet to both accompany these lectures and guide you on the main purpose of the Datathon: learning how to analyze a public dataset.

- Variables

- Strings

- Numbers

- Lists

- Dictionaries

- Conditionals

- Loops

- Functions

- Scopes

- Working with libraries, like...

- Pandas

- What Pandas is

- How and when to use it

- The difference between DataFrames and Databases

- The difference between DataFrames and the Pandas Series

- How to populate a DataFrame

- Renaming Columns

- Manipulating DataFrames

- Generating descriptive statistics

- Visualizing your DataFrame

- Intro to optimizing performance

- An introductory primer on 6 data visualization libraries
- How to use a dataframe with each of these libraries to visualize data

- How to save all your hard work

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
{1, 2, 3, 4, 5}

# Questions:

## Section 1: Python Crash Course 
10 questions relating to the basic materials of the intro to python part 1 and 2 "

In [ ]:
#1. Print the word Galvanize

In [ ]:
#2. Create a variable var and assign it to the value 10. print your answer

10

In [ ]:
#3. What operator would you use to do division? what about exponentiation? print your answer

In [ ]:
#4. Concatenate the strings "Your " and "name", and assign them to the variable namestring. 
#print your answer

In [ ]:
#5. Update the list object movies below to contain the films "Titanic", "Parasite", and "Get Out", in that order.
# print the list (hint: use the .append() method)

movies = []

In [ ]:
#6. Print the values associated in the dictionary Football_Clubs with the key "US"

Football_Clubs = {'US': ['Atlanta United FC', 'Chicago Fire', 'Colorado Rapids', 'Columbus Crew SC', 'D.C. United', 'FC Dallas', 'Houston Dynamo', 'LA Galaxy', 'Los Angeles FC', 'Minnesota United,' 'FC Montreal Impact', 'New England Revolution', 'New York City FC', 'New York Red Bulls', 'Orlando City SC', 'Philadelphia Union', 'Portland Timbers', 'Real Salt Lake', 'San Jose Earthquakes', 'Seattle Sounders', 'FC Sporting Kansas City', 'Toronto', 'FC Vancouver', 'Whitecaps FC']}

In [ ]:
#7. Use slicing to print the list below without the first and last elements

lst = [1,2,3,4,5,6,7,8,9,10]

[2, 3, 4, 5, 6, 7]

In [ ]:
# 8. Write a code snippet using conditionals which tells you if a variable is equal to the string 'Horse'

In [ ]:
# 9. Write a while loop which decreases the value of the variable by one 
# in each iteration and stops if the variable is equal to 0

In [ ]:
# 10. Use a for loop to print every object in the list associated with the key 
# 'US' in the dictionary Football_Clubs
Football_Clubs = {'US': ['Atlanta United FC', 'Chicago Fire', 'Colorado Rapids', 'Columbus Crew SC', 'D.C. United', 'FC Dallas', 'Houston Dynamo', 'LA Galaxy', 'Los Angeles FC', 'Minnesota United,' 'FC Montreal Impact', 'New England Revolution', 'New York City FC', 'New York Red Bulls', 'Orlando City SC', 'Philadelphia Union', 'Portland Timbers', 'Real Salt Lake', 'San Jose Earthquakes', 'Seattle Sounders', 'FC Sporting Kansas City', 'Toronto', 'FC Vancouver', 'Whitecaps FC']}

### some helper code, run these cells

In [ ]:
import requests
import pandas as pd
base_url='https://www.metaweather.com/api/location/2490383/2021/1/'

response=requests.get(base_url+'1')

weather=pd.DataFrame(response.json())

## Section 2: Pandas
10 questions that reinforce the lessons from the intro to pandas materials

In [ ]:
#1. Import the Pandas library with the alias pd

In [ ]:
#2. Here is a DataFrame weather. Print the last ten rows of this dataframe
weather

In [ ]:
#3. What is the most common wind direction according to the compass in the weather dataframe?

In [ ]:
#4. Find the sum of the wind_speeds column of the weather dataset

In [ ]:
#5. from the weather dataframe, print from the 17th to 35th rows

In [ ]:
#6. Create bins to seperate the weather dataframe by wind_speed into 3 groupings.
# assign it to a variable new_col
# hint: pd.cut()

In [ ]:
#7. Add that column to the weather dataframe.

In [ ]:
#8. What are the different object types in the dataframe? print them

In [ ]:
# 9. What is the mean value for each column?

In [ ]:
#10. use the Pandas DataFrame .plot() to visualize the humidity
# using the bins in the bins column


#bonus: let's work on our interpretation. 
# Can you explain what this visualization is telling us?

## Section 3: Visualization in Python part 1: 6 libraries to try
12 questions that reinforce the lessons from the intro to 6 data visualization libraries. Below the helper cell are 4 cells with dataframes. use these dataframes for this section.

In [ ]:
# Helpers: run this cell
import io
import datetime as dt
import pandas as pd

from bokeh.plotting import figure
from bokeh.io import output_notebook, show, output_file
from bokeh.models import ColumnDataSource, HoverTool, Panel
from bokeh.models.widgets import Tabs
import plotly.express as px
import matplotlib.pyplot as plt
import seaborn as sns

# Plotting libraries - Geospatial mapping
import folium
from branca.element import Figure

from sklearn import datasets
ca_housing = datasets.fetch_california_housing()
cancer = datasets.load_breast_cancer()
wine = datasets.load_wine()
iris = datasets.load_iris()

download = requests.get(url = 'https://raw.githubusercontent.com/jbrownlee/Datasets/master/shampoo.csv').content
shampoo =pd.read_csv(io.StringIO(download.decode('utf-8')))

# use this dataframe df for this section where specified.
df = pd.DataFrame(ca_housing.data, columns=ca_housing.feature_names)
cancer_df = pd.DataFrame(cancer.data, columns = cancer.feature_names)
cancer_df['has_cancer?'] = cancer.target
wine_df = pd.DataFrame(wine.data, columns = wine.feature_names)

iris_df = pd.DataFrame(iris.data, columns = iris.feature_names)
iris_df['species'] = iris.target

In [ ]:
df.head(1)

   MedInc  HouseAge  AveRooms  ...  AveOccup  Latitude  Longitude
0  8.3252      41.0  6.984127  ...  2.555556     37.88    -122.23

[1 rows x 8 columns]

In [ ]:
cancer_df.head(1)

   mean radius  mean texture  ...  worst fractal dimension  has_cancer?
0        17.99         10.38  ...                   0.1189            0

[1 rows x 31 columns]

In [ ]:
wine_df.head(1)

   alcohol  malic_acid   ash  ...   hue  od280/od315_of_diluted_wines  proline
0    14.23        1.71  2.43  ...  1.04                          3.92   1065.0

[1 rows x 13 columns]

In [ ]:
iris_df.head(1)

   sepal length (cm)  sepal width (cm)  ...  petal width (cm)  species
0                5.1               3.5  ...               0.2        0

[1 rows x 5 columns]

In [ ]:
#1. Use matplotlib to create a histogram of the population in the DataFrame df

# remember to use plt.subplots() to isntantiate your visualization with matplotlib

In [ ]:
#2. Take the plot from before and label your title and axes

In [ ]:
#3. Using Seaborn and the cancer dataframe, create a scatterplot showing
# the relationship between the mean symmetry feature and the mean area feature. 
# label your points using the target feature 'has_cancer?'

#note: FYI the target value 0 indicates a malignant tumor, and 1 indicates that it is benign

In [ ]:
#4. use seaborn to create a pairplot for the following columns:

In [ ]:
#5. Plot a regression plot using seaborn. label the associated slope of the regression line

In [ ]:
# 6.  plot the change in sales over time for the shampoo dataframe using plotly

In [ ]:
#7. use plotly to plot a scatter plot between mean perimeter and worst perimeter

In [ ]:
# 8. Optional Challenge Question : Use the Bokeh library to make an interactive scatterplot of the iris morphology

In [ ]:
# 9. Using Folium, plot a point at the Eiffel Tower and display your map:

In [ ]:
# 10. Optional Challenge Question : Use the Bokeh library to make a scatterplot of the iris morphology

bok = iris_df.copy()
# you have to instantiate the output_notebook for each cell
output_notebook()

In [ ]:
# 11 Optional Challenge: Using Folium, plot a line between Albany, NY, USA and the Empire State Building in New York City

In [ ]:
# 12. optional challenge question: use a for loop to create a series of subplots that mimics the 
# pair plot functionality of the seaborn library. 
# hint: you can make a 5x5 set of plots using plt.subplots(5,5)

## Section 4: Introducing the New York State Load data
5 questions to help learn how to load in the dataset and how to format it.

Run the cell below to download a snapshot of the data the advanced track's working with. We're going to use it as a good starting point for advancing your understanding of how data science works.

In [ ]:
!wget https://raw.githubusercontent.com/Jameshskelton/datathon/main/Beginner_Track_dataset/OASIS_Real_Time_Dispatch_Actual_Load.csv

--2021-07-23 19:10:19--  https://raw.githubusercontent.com/Jameshskelton/datathon/main/Beginner_Track_dataset/OASIS_Real_Time_Dispatch_Actual_Load.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.110.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 4862601 (4.6M) [text/plain]
Saving to: ‘OASIS_Real_Time_Dispatch_Actual_Load.csv’

OASIS_Real_Time_Dis 100%[===================>]   4.64M  --.-KB/s    in 0.03s

2021-07-23 19:10:19 (138 MB/s) - ‘OASIS_Real_Time_Dispatch_Actual_Load.csv’ saved [4862601/4862601]

In [ ]:
# load up our dataframe from the !wget csv
nyiso = pd.read_csv('OASIS_Real_Time_Dispatch_Actual_Load.csv')

In [ ]:
# 1. Let's do some Exploratory Data Analysis! 
# find the 5 number summary, count, standard deviation, and mean for each column
# hint: you dont have to do it all at once

In [ ]:
# 2. print the index dtype and columns, non-null values and memory usage of the dataframe
# hint: you dont have to do it all at once

In [ ]:
# 3. Print all the 'Zone Names'

In [ ]:
# 4. print all the column value-types

In [ ]:
# 5. How would you specifically check to see if there are any null values
# (without using .info())

## Section 5: Introductory data analytics with the New York State Load data
15 questions that to start performing exploratory data analysis, while telling the story of the New York State's population fluctuations across the different regions in the month of June 2021.

In [ ]:
# 1. Let's do some more in depth Exploratory Data Analysis! 
# Find the minimum energy load value in the entire dataset

In [ ]:
# 2 find the maximum energy load value in the entire dataset

In [ ]:
# 3 use .groupby() to find the mean load for each zone

In [ ]:
# 4 as you can see below, there are various Dtypes
# Convert the column 'RTD End Time Stamp' to datetime
# Read about datetime here: https://docs.python.org/3/library/datetime.html
# Hint: use .astype()

In [ ]:
# 5 Let's practice using .loc[] Since there are 11 zones, let's look at 
# the first entries for each with .loc[]

In [ ]:
# 6 Now use .loc[]  select the column labeled RTD Actual Load

In [ ]:
# 7 let's do the same task as in question 6 but now with .iloc[]

In [ ]:
# 8 earlier we .astyped our 'RTD End Time Stamp' feature to be in datetime.
# Now that we have done that, we can use the datetime package to 
# get deeper understanding and organization. look below at the example
# for how date time works. Then in the next cell, use that same methodology
# to add a new column to our Pandas DataFrame
from datetime import datetime as dt
# im going to arbitrarily select the 6000th row for the example
nyiso['RTD End Time Stamp'][6001].hour

In [ ]:
# 9 Add a column called Hour of Day to the dataframe using datetime

In [ ]:
# 10 Use a group by to count how many per hour recordings of the power load were made
# in the dataset

In [ ]:
# 11. sort the values of the DataFrame by the RTD Actual Load, and display the first 5 rows

In [ ]:
# 12 find the peak RTD Actual Load for each zone

In [ ]:
# 13 Find the time of day that has, on average, the highest power load for the 
# Centrl region

In [ ]:
# 14 On june 27th at 5:00 pm, what was the RTD actual load value for the WEST region

In [ ]:
# 15 Select the mean values for all the records with the CAPITL zone name

In [ ]:
# Bonus Challenge question. There seems to be some problems with this data
# certain hours of the day have more recordings of the load values. 
# make it so only recordings made at the cadence of every five minutes are used.
# ex: time stamp 2021-06-27 17:00:00	is okay, time stamp 2021-06-27 17:01:12	is not

## Section 6: Visualization in Python part 2: visualizing New York State Load data
Now that we have familiarized ourselves with the dataset, let's make some visualizations. this can help you find patterns before practices like machine learning are even necessary. We've now seen several different types of libraries you can use.

In [ ]:
# 1. plot a bar chart using matplotlib of the mean RTD Actual load 
# be sure to label axes and the title

In [ ]:
#2. plot the change in load values over the different hours of the day for the
# N.Y.C. zone using Seaborn
# be sure to label your axes and add a title!

In [ ]:
# 3. Using the plot above, notice there are multiple patterns in the data, 
# across both the day, each week, and the month. this is called seasonality.
# identify two of these patterns below. 
# hint: don't think too hard about this. yearly is a type of seasonal pattern i'm 
# talking about, but there isnt a years worth of data here. 

# daily, weekly

In [ ]:
# 4. Plot a histogram showing the count for each hour of the day using matplotlib
# you'll see it's not very useful. not every plot is useful for showing information
# be sure to label axes and the title

In [ ]:
# 6. use matplotlib.pyplot (plt) to plot the different regions RTD Actual Load 
# over time with a line plot for the CAPITL zone. be sure to label axes and the title

In [ ]:
# 5 lets look at the distribution of values more closely with a box plot.
#  box plot the RTD actual load for the CAPITL zone, and label your plot

In [ ]:
# Challenge: 6.  create a box plot using matplotlib displaying the different distributions of 
# RTD Actual Load for each Zone

In [ ]:
# 7. plot the change in load values over the different hours of the day for the
#  N.Y.C. zone using Seaborn

In [ ]:
# 8. Use Seaborn to plot the different regions RTD Actual Load over time with line plots
# hint: hue = 'Zone Name' will let you see them in different colors

In [ ]:
# 9. create a box plot using seaborn displaying the different distributions of 
# RTD Actual Load for each Zone

In [ ]:
# 10. plot a histogram using seaborn for the LONGIL zone's 'RTD Actual Load'

In [ ]:
# 11. Challenge Question: using plt.subplots to arrange them, use a for loop to 
# make a histogram for each region like above and display all of them below

In [ ]:
# 12. Let's try something new! now that we have made histograms and line plots, we have a rough
# idea for how the data is distributed. use sns.jointplot() to look at the distribution
# of RTD Actual load (x) against the hour of day (y) for the 'CAPITL' zone

In [ ]:
# 13. use plotly to create a colored line plot of the different RTD Actual Loads over time

In [ ]:
# 14 use plotly to make a combined histogram of all the different RTD Actual Loads
# and use the zone name to differentiate the plots within the space 
# tip: double click on the legend values on the side to isolate individual histograms!

In [ ]:
# 15 Challenge: Use Bokeh to create a plot of the RTD Actual Load against
# the hour of the day and color the values by zone name

bok = nyiso.copy()
# you have to instantiate the output_notebook for each cell
output_notebook()

NameError: ignored